@font-face{
    font-family: Sen-Regular;
    src: url(./fonts/Sen-Regular.ttf)
}
@font-face{
    font-family: Sen-Bold;
    src: url(./fonts/Sen-Bold.ttf)   
}
@font-face{
    font-family: Piedra-Regular;
    src: url(./fonts/Piedra-Regular.ttf)   
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Sen-Regular;
}
.headerSecondary{
    background-color: #1D7A8C;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
    .logo{
        width:30%;
        max-width: 200px;
    }
#page1{
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    width: 100%;
}
    #principalHeader{
        background-color: #1D7A8C;
        padding: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
        #logoPage1{
            width: 50%;
            max-width: 200px;
        }
    .pageText{
        text-align: center;
        background-color: #1D7A8C;
        color: #EEE8A9;
        margin: 0;
        padding: 5%;
        padding-top: 0;
        width: 100%;
    }
    .title1{
        color: #1D7A8C;
        font-family: Sen-Bold; 
    }
    
    .inputForm{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
        .principalUl{
            display: flex;
            flex-flow: nowrap column;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
        }
            #errorMesssage{
                width: 100%;
            }
                #PrintingErrorMessage{
                    border: 1px solid;
                    margin: 10px 0px;
                    padding:15px 10px 15px 50px;            
                    font-size:13px;
                    text-align:left;
                    width:auto;
                    color: #D8000C;
                    background-color: #FFBABA;
                    background-image: url("images/error.png");
                    background-size: 10%;
                    background-repeat: no-repeat;
                    background-position: 15px center;
            }   
            .liInput1{
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
              
            }
                .emailAndPassword{
                    font-family: Sen-Regular;
                    font-size: 120%;
                    margin-top: 5%;
                    
                }
                .inputSingIn{
                    width: 100%;
                    height: 30px;
                    margin: 10%;
                    background-color: #C4C  4C4;
                    border: none
                }
                .googleInpt{
                    font-family: Sen-Regular;                 
                    background-image: url(./images/googleLogo.png);
                    background-repeat: no-repeat;
                    background-position-x:2%;
                    background-position-y: 50%;
                    background-size: 10%; 
                    background-color: white;
                    color: #1D7A8C;
                    height: 35px;
                    width: 100%; 
                    padding-left: 2rem;
                    border: 1px solid #1D7A8C;
                    border-radius: 3px;
                    margin-bottom: 10%;           
                }
                .bttn{
                   
                    width: 75%;
                    height: 35px;
                    background-color: white;
                    color: #1D7A8C;
                    border: 1px solid #1D7A8C;
                    border-radius: 5px;  
                    font-family: Sen-Bold;  
                }
                #register{
                    width: 100%;
                    margin-bottom: 10%;
                }
                    #ancla{
                        width: 75%;
                    }
#page2{
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    width: 100%;
}
    .inputSingUp{
        width: 100%;
        height: 30px;
        margin: 10%;
        background-color: #C4C4C4;
        border: none
    }
    #singUpBttn{
        margin-bottom: 10%;
    }

#page3{
    display: flex;
    flex-flow: column nowrap;
}
    #inputDiv{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        align-content: space-between;
        margin: 1%;
        width: 100%;
    }
        .anclaFeed{
            width: 40%;
            margin:2%
        }
            .inptFeed{
                background-color:#1D7A8C;
                color:#EEE8A9;
                border-radius: 9px;
                margin: 0;
                width: 100%;
                height: 40px;
                font-family: Sen-Bold;
                font-size: 130%;
            }
    #postContainer{
        width: 100%;
    }
        #postDiv{
            width: 100%;
        }
            #divPosts{
                display: grid;
                grid-template-columns: repeat(10, 10%);
                grid-template-rows: repeat(10, 10%);
                margin:0;
                place-items: center;
                place-content: center;
                border: 1px solid #000000;
                height: 400px;
                width: 100%;
            }
            .imgPin{
                grid-area: 1/1/3/3;
                width: 50%;
            }
            #postTitle{
                grid-area: 2/3/3/9;
                font-size: 1em;
                margin: 0;
            }
            #selectEditDelete{
                grid-area: 1/9/2/11;
                align-self: flex-start;
                justify-self: flex-end;
                border: 1px solid #000000;
            }
                #selectEditDelete p{
                    margin: 0;
                    text-align: center;
                }
            #uploadImg{
                grid-area: 3/3/7/9; 
                width: 100%;
                background-color: grey;
                border: 1px solid #000000;
            }
            #description{
                grid-area: 7/2/10/10;
                width: 100%;
                margin: 0;
                font-size: 80%;
                text-align: justify;
            }

            #likeButton{
                background-color: white;
                color: #000000;
                border: 1px solid #1D7A8C;
                border-radius: 10px;  
                font-family: Piedra-regular;  
                grid-area: 10/9/11/11;
                width: 90%;
                height: 30px;
                background-image: url("images/yoVoy.png");
                background-size: 30%;
                background-repeat: no-repeat;
                background-position: right;
                text-align: left;
            }
            #regionId{
                grid-area: 10/1/11/5;
            }
#createPostPage{
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
    #createPostForm{
        width: 100%;
    }
    #editPostForm{
        width: 100%;
    }

        .createPostUl{
            display: flex;
            flex-flow: nowrap column;
            align-items: center;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }
        #inputList li{
            display: flex;
            flex-flow:  row nowrap;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            margin: 1%;
            padding: 5%;
            padding-bottom: 1%;
            padding-top: 1%;
        }
           
            #titleCreatePost{
                width: 72%;
            }
            #inputList li img{
                width: 5%;
            }
            #inputList li p{
                font-size: 50%;
            }
            .inputRadio{
                font-size: 70%;
            }
            #chooseRegion{
                justify-self: center;
            }



.footer1{
    background-color: #1D7A8C;
    justify-content: space-between;
    margin: 0;
    padding: 0.5%;
    width: 100%;
}
    .footerText{
        padding-top: 10%;
        text-align: center;
        background-color: #1D7A8C;
        color: #EEE8A9;
        padding: 0;
        width: 100%;
        font-size: 100%;
    }

.footer2{
    width: 100%;
    height: 50px;
    display: flex;   
    justify-content: space-between;
    background-color: #1D7A8C;
    margin: 0;
    padding: 0.5%;
    position: sticky;
    bottom: 0;
}
    .anclaFooter{
        width: 10%;
    }
        .imgFooter{
            width: 100%;
        }
        #userInpt{
            width: 100%;
        }
        #singOutProfile{
            margin: 0;
            padding: 0;
            width: 10%; 
        }
            .profileFeed{
                list-style: none;
                color: white;
                border: 1px solid black;
                position: relative
            }
        